@font-face{
  font-family: "digital-7";
  src: url(https://cashregister-resources.s3.amazonaws.com/digital-7.ttf) format("truetype");
}

.App {
  text-align: center;
  font-family: "digital-7", sans-serif;
}

.App-header {
  background-color: #393f49;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: white;
}

.Cash-Register {
  background-color: #ababab;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.Register-button {
  background-color: #7e807f;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 4%;
  padding-bottom: 4%;
  outline: none !important;
  border-radius: 5%;
  margin: 1%;
}

.Register-drawer {
  background-color: #7e807f;
  color: #000;
  font-size: calc(8px + 2vmin);
}

.Register-drawer, .Register-button {
  font-family: "Courier", monospace;
}

.Register-drawers {
  outline-style: solid;
  outline-width: thin;
  outline-color: black;
}

.Register-right {
  width: 50%;
  height: 50%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Register-display {
  width: 50%;
  padding-right: 5%;
}

.Register-right-buttons {
  padding-top: 10%;
  padding-left: 50%;
}

label {
  background-color: #636464;
  color:#000;
}

input[type="text"], textarea {
  text-align:right;
  background-color : #000; 
  color: #0f0
}

